/******** Variables ********/

:root{
    --light-color: #fff;
    --primary-light-color: #a374ff;
    --primary-color: #8c52ff;
    --primary-dark-color: #7530ff;
    --medium-color: #d4d4d4;
    --dark-color: #222;
}

/******** All elements **********/


*,
*::before,
*::after{
    /*
    Set the margin nd padding to 0
    Set the box sizing for all elements to inherit
    */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/******** Root element **********/

html{
    /*
    Font size of  62.5% of 16px = 10px
    Set the box sizing to border-box, height and width includes padding and border
    */
    font-size: 62.5%;
    box-sizing: border-box;
}

/******** Body element **********/

body {
    /*
     Set the sight overall font styling
     Set the height of the site to be a minimum of the viewport height
     */
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--dark-color);
    font-weight: 400;
    line-height:1.6;
    min-height: 100vh;
}

/********** Grid  Systems **********/

.body{
    /*
    Create a grid with 8 columns and 6 rows
    Set the gap between cells to 2rem
     */
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,min-content);
    grid-gap: 2rem;
    grid-auto-rows: min-content;
    /* Grid area */
    grid-template-areas: 'header header header header header header header header'
                 ' story story story story story story story story'
                ' story story story story story story story story'
                ' story story story story story story story story'
                ' story story story story story story story story'
                'footer footer footer footer footer footer footer footer';
}

/********* Typography **********/

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

/********* Header element ***********/

.header{
    /*
    Set the element in the overall grid
    Set the padding and background color
     */
    grid-area: header;
    padding: 2rem;
    background-color: var(--dark-color);
    /*
    Set the header to a display of flex and main axis row
    align the items on cross axis to center
    */
    display: flex;
    align-items: center;
}

/********* Logo **************/

.logo{
    /*
    Set the logo to an inline block
    Set the height,width and right spacing
     */
    display: inline-block;
    height: 4.8rem;
    width: auto;
    margin-right:2rem;
    clip-path: circle();
}

/********* Nav element *********/

.nav{
    /*Set the left spacing to auto, in flex takes up all the free space*/
    margin-left: auto;
}

.nav__list{
    /* Set the list style to none*/
    list-style: none;
    /* Set the display to flex with main axis as row*/
    display: flex;
}

.nav__item:not(.nav__item:last-child){
    /*
    For ever nav__item that is not the last child, as right spacing
     */
    margin-right:2rem;
}

/* Link states */
.nav__link,
.nav__link:link,
.nav__link:visited{
    text-decoration: none;
    color: var(--light-color);
    transition: all .2s;
}

.nav__link:hover,
.nav__link:active{
    color: var(--primary-color);
}

.nav__link:focus{
    outline: .2rem solid var(--primary-light-color);

}

/********* Footer element ***********/

.footer{
    /*
    Set the element in the overall grid
    Set the text and background color
    Add padding
    */
    grid-area: footer;
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 2rem;
}

/*==========================
- MEDIA Queries
 =========================*/

/************ 900 breakpoint **********/

@media only screen and (max-width: 56.25em){

}