
/********* stories ********/

.stories{
    /*
    Set the grid area in the main grid
    Set the padding
     */
    grid-area: story;
    padding: 2rem;

    /*
    Set the display to grid
    Create a 4 column grid with a gap of 1rem between cells
    */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: min-content;
    grid-gap: 1rem;
}
/********** category ********/

.category{
    /*Set the placement for stories grid*/
    grid-column: 1/-1;
    /*
    Set the height to 20 of the viewport height
    Set the font and background color
     */
    height: 20vh;
    color: var(--primary-color);
    background-image: linear-gradient(to bottom right,var(--light-color),var(--medium-color));
    border-radius: 2rem;
    /*Set the display to flex to center the h1 vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/********* headline *******/

.main-story{
    /*Set the placement for stories grid*/
    grid-column: 1/-1;
}

.headline{
    /*
    Set the width and height
    Set the border radius to 2rem
    Set the position to relative, so child elements can be positioned absolutely to this
     */
    height: 40vh;
    border-radius: 2rem;
    position: relative;
    overflow:hidden;
}

.headline__img{
    height: 100%;
    width:100%;
}

.headline__text{
    /*
        Set the display to block
    Set the padding to 2rem
    Set the background color and an opacity of 80%
    Set the bottom corners radius to 2rem
    Set the position to absolute and 0 from the bottom of parent relative positioned element
    Set the color to white
     */
    display: block;
    width: 100%;
    height: 30%;
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    bottom:0;
    background-color: var(--dark-color);
    opacity: 80%;
}

/* Link states*/

.headline__link:link,
.headline__link:visited{
    /*
    Set the display to inline block
    Set the color to white  text decoration to non
     */
    display: inline-block;
    padding: 2rem;
    color: var(--light-color);
    width: 100%;
    text-decoration: none;
    overflow: hidden;
}

.headline__link:hover,
.headline__link:active{
    text-decoration: underline var(--primary-color);
}

.headline__link:focus{
    outline: .2rem solid var(--primary-light-color);
}

/********* Cards ********/

.other-stories{
    /* Set the element in stories grid*/
    grid-column: 1/-1;
    /*
    Set the display to grid
    Create a grid with automatic columns depending on the available space
    Set the automatic rows to a height of the min content
    Align the grid items in the center
     */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(37rem,1fr));
    grid-auto-rows: min-content;
    justify-items: center;
}


.card {
    /*
    Set the width and height of the card
    Set the overflow to hidden
    Set the border-radius to 2rem
    Give a box shadow for affect
     */
    width: 35rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 2rem 2rem 1rem  rgba(0,0,0,.5);
    /*
    Set the display to grid
    Create a 1 column grid with 3 rows and a gap of 1rem
     */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-gap: 1rem;
}

.card__img{
    /*
    Set the display to inline block
    Set the height and a width
    Set the element in the card grid
     */
    display: inline-block;
    grid-row: 1/2;
    width: 100%;
    height: 15rem;
}

.card__text{
    /*
    Set the element in the card grid
    Hide the overflow
     */
   grid-row: 2/3;
    overflow: hidden;
    padding:1rem;
}

/* Link states */

.card__link:link,
.card__link:visited{
    /*
    Align the link to the end of the row
     */
    display: inline-block;
    text-decoration: none;
    grid-row: 3/4;
    justify-self: end;
    padding: 0 1rem 1rem 0;
}

.card__link  svg{
    /*
    Set the height and width of icon
    Fill in with primary color
     */
    height:3.2rem;
    width: 3.2rem;
    fill: var(--primary-color);
}

.card__link:hover svg,
.card__link:active svg {
    fill: var(--primary-dark-color);
}

.card__link:focus{
    outline: .2rem solid var(--primary-light-color);
}

/*==========================
- MEDIA Queries
 =========================*/

/************* 1200 breakpoint ***********/

@media only screen and (min-width:75em){

    .stories{
        background-color: var(--light-color);
    }
}

/************ 900 breakpoint **********/

@media only screen and (max-width: 56.25em) {

    html{
        font-size: 50%;
    }

    .other-stories{
        grid-template-columns: repeat(auto-fit,minmax(32rem,1fr));
    }

    .card{
        width:30rem;
        height:35rem;
    }
}

/********* 700 breakpoint *************/

@media only screen and (max-width: 43.75em){

    .other-stories{
        grid-template-columns: 1fr;
    }

    .card{
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr min-content;
        width: 100%;
        height: 20rem;
    }

    .card__img{
        grid-column: 1/2;
        grid-row: 1/-1;
        height: 20rem;
    }

    .card__text{
        grid-row:1/2;
    }

    .card__link{
        grid-column: 2/3;
        justify-self: end;
    }
}

/********** 600 breakpoint *************/

@media only screen and (max-width: 37.5em) {

    .headline__link:link,
    .headline__link:visited{
        padding: 1rem;
    }
}